@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
   margin: 0;
   background: #E1E2E7;
   font-family: 'Rubik', sans-serif;
  }
html{
    height: 100vh;
    margin: 0;
    font-size: 100%;
    text-align: center;
}

.flex {
    display: flex;
    height: 100%;
    background-color: #fff;
}